<ion-view style="" title="Already there?">
    <ion-content class="has-header" style="background-image: url(../img/bg.jpg);" overflow-scroll="true" padding="'true'">
        <form style="" class="list">
            <label style="" class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input placeholder="Type cafe name here!" type="search">
            </label>
        </form>
        <div style="" class="list card">
            <div class="item item-divider icon ion-ios-location"> Near You</div>
            <div class="item item-body">
                <ion-list style="">
                    <ion-item style="" href="#/cafe1B" class="item-thumbnail-left">
                        <img src="img/1.jpg">
                        <h2>Cafe X</h2>
                        <p>Cool Cafe in Woodlands</p>
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <div class="item item-body">
            <button style="" class="button button-stable button-block button-assertive icon-right ion-camera">Scan QR Code</button>
        </div>
    </ion-content>
</ion-view>
