<ion-view style="" title="Cafe X">
    <ion-content class="has-header" overflow-scroll="true" padding="'true'">
        <img style="width: 100%; height: auto;" src="img/1.jpg" height="auto" width="100%">
        <div style="">
            <p>A cool cafe in Woodlands with
                <strong>AWESOME</strong> food! Great ambience and coffee that burns your tongue and taste like socks! Highly recommended by celebrities like Reuben Tan!</p>
        </div>
        <a style="" class="button button-assertive button-block " href="#/invite">Select</a>
    </ion-content>
</ion-view>
