<ion-view style="" title="Find">
    <ion-content class="has-header" style="background-image: url(../img/bg.jpg);" overflow-scroll="true" padding="'true'">
      <form style="" class="list">
          <label style="" class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input placeholder="" type="search">
          </label>
      </form>
      <div style="" class="list card">
          <div class="item item-divider"><strong>Find a Cafe</strong></div>
          <div class="item item-body">
              <form style="" class="list">
                  <label style="" class="item item-input">
                      <span class="input-label">Date:</span>
                      <input placeholder="e.g. 16/02/1993" type="date">
                  </label>
                  <label style="" class="item item-input">
                      <span class="input-label">Time:</span>
                      <input placeholder="e.g. 1100-1300" type="text">
                  </label>
                  <label style="" class="item item-input">
                      <span class="input-label">Pax:</span>
                      <input placeholder="e.g. 6-8" type="text">
                  </label>
              </form>
              <a style="" class="button button-assertive button-block  icon-right ion-search" href="#/list">Find!</a>
          </div>
      </div>
    </ion-content>
</ion-view>
