<ion-view style="" title="Food">
    <ion-content class="has-header" style="background-color: #FFFFE0;" overflow-scroll="true" padding="'true'">
      <form style="" class="list">
          <label style="" class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input placeholder="" type="search">
          </label>
      </form>
                <div class="card" style="background-color:transparent;">

                    <img src="img/A3.jpg" height="auto" width="100%">

                  <ion-checkbox class="item-dark"><div class="item item-divider item-dark">Sirloin Steak $12.90</div></ion-checkbox>
                </div>


                    <div class="card" style="background-color:transparent; display: inline-block; width: 100%; height: auto;">
                      <img src="img/A1.jpg" height="auto" width="100%">
                      <ion-checkbox class="item-assertive"><div class="item item-divider item-assertive">Beef Burger $9.90</div></ion-checkbox>
                    </div>

                    <div class="card" style="background-color:transparent;" style="display: inline-block; width: 100%; height: auto;">
                    <img src="img/A2.jpg" height="auto" width="100%">
                    <ion-checkbox class="item-balanced"><div class="item item-divider item-balanced">Seafood Pasta $9.90</div></ion-checkbox>
                </div>


              <a style="" class="button button-dark button-block  icon-right ion-ios-arrow-right" href="#/done">I'm done!</a>
    </ion-content>
</ion-view>
