<ion-view style="" title="Individual">
    <ion-content class="has-header" overflow-scroll="true" padding="'true'">
        <div style="" class="list card">
            <div class="item item-divider">Cafe 1</div>
            <div class="item item-body">
                <form style="" class="list">
                    <label style="" class="item item-input">
                        <input placeholder="Table No:" type="text">
                    </label>
                </form>
                <button style="" class="button button-stable button-block  icon-right ion-camera">Scan QR Code</button>
            </div>
        </div>
        <ion-list style="">
            <ion-item style="" class="item-thumbnail-left">
                <img src="img/ken.jpg">
                <h2>You</h2>
                <p>Ordering...</p>
            </ion-item>
        </ion-list>
        <a style="" class="button button-dark button-block " href="#/menu">Order</a>
        <button style="" class="button button-assertive button-block ">Confirm</button>
    </ion-content>
</ion-view>
