<ion-view style="" title="Individual">
    <ion-content class="has-header" style="background-image: url(../img/bg.jpg);" overflow-scroll="true" padding="'true'">
<div class="card">
      <div class="item item-divider"><strong>Details</strong></div>
      <ion-list style="">
          <ion-item style="" class="item-thumbnail-left">
              <img src="img/1.jpg">
              <h2>Cafe X</h2>
              <form style="" class="list">
                  <label style="" class="item item-input">
                      <input placeholder="Table No:" type="text">
                  </label>
              </form>
              <button style="" class="button button-stable button-block  icon-right ion-camera">Scan QR Code</button>
          </ion-item>
      </ion-list>
    </div>

        <a style="" class="button button-dark button-block " href="#/menu">Order</a>
        <button style="" class="button button-assertive button-block ">Confirm</button>
    </ion-content>
</ion-view>
