<ion-view style="" title="Invite">
    <ion-content class="has-header" overflow-scroll="true" padding="'true'">
        <div style="">
            <p>
                <strong>Friends</strong>
            </p>
        </div>
        <ion-list style="">
            <ion-item style="" href="#/party" class="item-thumbnail-left">
                <img src="img/ash.jpg">
                <h2>Ash</h2>
                <p>Available</p>
            </ion-item>
            <ion-item style="" class="item-thumbnail-left">
                <img src="img/mike.jpg">
                <h2>Mike</h2>
                <p>Busy</p>
            </ion-item>
        </ion-list>
        <div style="width: 283.2px; height: 43px;" class="spacer"></div>
        <div style="">
            <p>
                <strong>Groups</strong>
            </p>
        </div>
        <ion-list style="">
            <ion-item style="" class="item-thumbnail-left">
                <img src="img/tgif.jpg">
                <h2>TGIF Cafe Hoppers</h2>
                <p>6 members</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
