<ion-view style="" title="My Parties">
    <ion-content class="has-header" style="background-image: url(../img/bg.jpg);" overflow-scroll="true" padding="'true'">
      <div style="" class="list card">
          <div class="item item-divider"><strong>Details</strong></div>
          <ion-list style="">
            <a href="#/done">
              <ion-item style="" class="item-thumbnail-left">
                  <img src="img/1.jpg">
                  <h2>Cafe X</h2>
                  <p>Woodlands Dr 72</p>
                  <p>16/02/2016</p>
                    <p>1700</p>
              </ion-item>
            </a>
          </ion-list>
          </div>
      </div>
  <a style="" class="button button-balanced button-block  icon-right ion-android-add-circle" href="#/inviteA">Create a Party</a>
    </ion-content>
</ion-view>
