<ion-view style="" title="Party">
    <ion-content class="has-header" overflow-scroll="true" padding="'true'">
        <div style="" class="list card">
            <div class="item item-divider">Chat Box</div>
            <div class="item item-body">
                <form style="" class="list">
                    <div style="width: 251.2px; height: 228px;" class="spacer"></div>
                    <div style="" class="button-bar">
                        <button style="" class="button button-assertive button-block  icon ion-ios-heart"></button>
                        <button style="" class="button button-energized button-block button-small icon ion-image"></button>
                        <button style="" class="button button-balanced button-block  icon ion-android-person-add"></button>
                    </div>
                    <label style="" class="item item-input">
                        <input placeholder="Chat here!" type="text">
                    </label>
                </form>
            </div>
        </div>
        <ion-list style="">
            <ion-item style="" class="item-thumbnail-left">
                <img src="img/ken.jpg">
                <h2>You</h2>
                <p>Online</p>
            </ion-item>
        </ion-list>
        <ion-list style="">
            <ion-item style="" class="item-thumbnail-left">
                <img src="img/ash.jpg">
                <h2>Ash</h2>
                <p>Online</p>
            </ion-item>
        </ion-list>
        <a style="" class="button button-assertive button-block  icon-right ion-search" href="#/findA">Find a Cafe!</a>
        <a style="" class="button button-dark button-block " href="#/menu">Cancel</a>
    </ion-content>
</ion-view>
